SMCS.sublime-workspace
SMCS.sublime-project
result.*
__pycache__/*
frags/
*.json
*.Identifier
*.output
/SMCS.pyproj
/.vs
/SMCS.sln
/SMCS.pyperf
/setSizeFiles

config.json
output.txt
profilingStats.prof
runtime.txt